<div class="list-group">
  <a href="{{ url_for('account_settings.account_settings') }}"
     class="list-group-item list-group-item-action {% if request.path == url_for('account_settings.account_settings') %}active{% endif %}">
    Настройки аккаунта
  </a>
  <a href="{{ url_for('data.user_data') }}"
     class="list-group-item list-group-item-action {% if request.path == url_for('data.user_data') %}active{% endif %}">
    Мои данные
  </a>
  <a href="{{ url_for('trainings.user_trainings') }}"
     class="list-group-item list-group-item-action {% if request.path == url_for('trainings.user_trainings') %}active{% endif %}">
    Мои тренировки
  </a>
  <a href="{{ url_for('mode.select_mode') }}"
     class="list-group-item list-group-item-action {% if request.path == url_for('mode.select_mode') %}active{% endif %}">
    Выбрать режим
  </a>
</div>

