<div class="modal fade" id="complexElementModal" tabindex="-1" aria-labelledby="complexElementModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{{ url_for('complex_data.create_element', data_id=complex_data.id) }}" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="complexElementModalLabel">Новый элемент цепочки</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="data_id" value="{{ complex_data.id }}">
          <div class="mb-3">
            <label for="elementName" class="form-label">Элемент</label>
            <input type="text" class="form-control" id="elementName" name="element_name" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-success">Добавить</button>
        </div>
      </form>
    </div>
  </div>
</div>