<div class="modal fade" id="createAttributeAllModal" tabindex="-1" aria-labelledby="createAttributeAllModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{{ url_for('complex_data.create_attribute_all', data_id=complex_data.id) }}" method="post">
        <div class="modal-header">
          <h5 class="modal-title" id="createAttributeAllModalLabel">Добавить атрибут ко всем элементам</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="attributeName" class="form-label">Название атрибута</label>
            <input type="text" class="form-control" id="attributeName" name="attribute_name" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <button type="submit" class="btn btn-success">Создать атрибут</button>
        </div>
      </form>
    </div>
  </div>
</div>